header{
    text-align: right;
}
a{
    padding: 4px;
    margin: 4px;
}
 header nav ul li{
    text-align: right;
    padding: 2px;
}
section  .image {
    width: 800px;
    margin: 30px auto;
    position: relative;
  }
  
section  .image-viewport {
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
section  .image-content {
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
section  .image-content img {
    width: 800px;
    height: 400px;
  }
  
section  .image-nav {
    width: 100%;
    bottom: -30px;
    margin-top: 10px;
    text-align: center;
  }
section  .image-nav a {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: #b4b6c4;
    width: 15px;
    height: 15px;
    margin: 0 3px;
  }
section .image-nav a:hover {
    background-color: #c12a2a;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 5px 0px rgba(211, 5, 5, 0.8);
  }
  
section#img2:target .image-content {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  
section#img3:target .imager-content {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
  
section#img4:target .image-content {
    -webkit-transform: translateX(-2400px);
            transform: translateX(-2400px);
  }